$scheme-f1-c1: #2ecc71;
$scheme-f1-c2: #16a085;
$scheme-f1-c3: #f1c40f;
$scheme-f1-c4: #f39c12;

$scheme-f2-c1: #2ecc71;
$scheme-f2-c2: #27ae60;
$scheme-f2-c3: #e67e22;
$scheme-f2-c4: #d35400;

$primary: $scheme-f1-c1;
$alt: $scheme-f1-c2;
$text-white: #fff;